@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.mainContainer {
    width: 700px;
    height: 600px;
    margin-top: 150px;
    border: 5px solid #FDF2BC;
    display: inline-block;
    align-items: center;
}

.formContainerReg {
    display: inline-block;
    width: 500px;
    height: 380px;
    border: 2px solid #FDF2BC;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    font-size: 50px;
    align-self: flex-start;
    margin-top: 15px;
}

.form {
    display: block;
    justify-content: flex-start;
    margin-top: 15px;
}

.username {
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.userInput {
    font-size: 16px;
    margin: 5px;
    align-self: flex-start;
}

.firstName {
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.firstNameInput {
    font-size: 16px;
    margin: 5px;
    align-self: flex-start;
}

.lastName {
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.lastNameInput {
    font-size: 16px;
    margin: 5px;
    align-self: flex-start;
}

.email {
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.emailInput {
    font-size: 16px;
    margin: 5px;
    align-self: flex-start;
}

.password {
    font-size: 20px;
    margin: 5px;
    align-self: flex-start;
}

.passwordInput {
    font-size: 16px;
    margin: 5px;
    align-self: flex-start;
}

.btnSubmit {
    font-size: 20px;
    margin-top: 20px; 
    margin-bottom: 45px;
}

:hover.btnSubmit {
    color: #E05F47;
    cursor: pointer;
}

.loginLinkContainer {
    display: flex;
    align-content: center;
    margin-bottom: 40px;
}

.log {
    align-self: center;
    margin-left: 75px;
}

.btnLog {
    font-size: 20px;
    align-self: center;
    margin-left: 20px;
}

:hover.btnLog {
    color: #E05F47;
    cursor: pointer;
}